structlog==20.1.0
colorama==0.4.3
protobuf==3.13.0
pluginlib==0.8.0
# Needed when tx.mode=gpio
#RPi.GPIO==0.7.0
# Needed when tts.library = "gtts"
gTTS==2.1.1
# Needed when tts.library = "espeak"
# We need our work which includes subprocess.Popen workaround which allows us to
# kill spawned process when we kill the parent process
git+https://github.com/Kami/py-espeak-ng.git@preexec_fn_patch#egg=py-espeak-ng
PyAudio==0.2.11
scipy==1.5.2
apscheduler==3.6.3
mutagen==1.45.1
expiringdict==1.2.1
# Needed for current time plugin
pytz==2020.1
# Needed for Location Weather Plugin
requests==2.24.0
xmltodict==0.12.0
